* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji;
  margin: 0;
  font-size: 14px;
  word-wrap: break-word;
  box-sizing: border-box;
  color: white;
  background-color: #0d1117;
  max-width: 100%;
}

#mobile-screen {
  display: none;
}
#desktop-view {
  display: none;
}

/* Absolute Center Spinner */
.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  visibility: hidden;
}
#display-info {
  visibility: hidden;
}
/* Transparent Overlay */
.loading:before {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: "white";
}
/* rgba(0, 0, 0, 0.3); */
/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.loading:not(:required):after {
  content: "";
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 1500ms infinite linear;
  -moz-animation: spinner 1500ms infinite linear;
  -ms-animation: spinner 1500ms infinite linear;
  -o-animation: spinner 1500ms infinite linear;
  animation: spinner 1500ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0,
    rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0,
    rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0,
    rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0,
    rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
  box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0,
    rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0,
    rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0,
    rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0,
    rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.form-section {
  width: 340px;
  margin: auto;
  padding-right: 16px;
  padding-left: 16px;
}
.form-header {
  margin: 15px;
  color: #c9d1d9;
  text-align: center;
}
.form-body {
  border-top: 1px solid #21262d;
  border-radius: 6px;
  padding: 20px;
  font-size: 14px;
  background-color: #161b22;
  border: 1px solid #21262d;
  margin-top: 16px;
}

.label {
  display: block;
  margin-bottom: 7px;
  font-weight: 400px;
  text-align: left;
}
.usernameInput {
  margin-top: 5px;
  margin-bottom: 15px;
  display: block;
  width: 100%;
  padding: 5px 12px;
  font-size: 14px;
  background-color: #0d1117;
  border: 1px solid #21262d;
  border-radius: 6px;
  outline: none;
}
.usernameInput:focus {
  border: 1px solid #388bfd !important;
  outline: none !important;
  box-shadow: none;
  color: white !important;
}
.form-logo {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  padding-top: 32px;
  padding-bottom: 24px;
  width: 100%;
}
.form-logo i {
  font-size: 40px;
}
.form-button {
  margin-top: 20px;
  display: block;
  width: 100%;
  text-align: center;
  color: white;
  background-color: #238636;
  position: relative;
  padding: 5px 16px;
  font-size: 14px;
  cursor: pointer;
  font-weight: 500;
  border: 1px solid #2ea043;
  border-radius: 6px;
}
.display-info {
  padding: 15px 20px;
  text-align: center;
  border: 1px solid red;
  border-radius: 6px;
  margin-top: 16px;
  margin-bottom: 10px;
}
.header {
  width: 100%;
  background-color: #24292f;
}
.githubIcon {
  font-size: 24px;
  color: #fff;
}
/* hide desktop menu on mobile device */
#desktop-view {
  display: none;
}

.hidden {
  display: none;
}

#mobile-navbar {
  background-color: #161b22;
  color: white;
  padding-left: 16px;
  padding-right: 16px;
}
.mobile-nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 8px;
  padding-bottom: 8px;
}
#mobile-navbar-search-btn {
  position: absolute;
  right: 20px;
  margin-top: 13px;
}
.profile_avatar {
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
}
li {
  list-style: none;
}
.responsive-nav-item {
  display: block;
  border-top: 1px solid #30363d;
  padding-top: 8px;
  padding-bottom: 8px;
  font-weight: 600;
  color: white;
  white-space: nowrap;
}
.sign-out {
  margin-bottom: 20px;
}
input[type="search"] {
  background-color: black;
  border-style: none;
  padding: 6px;
  border-radius: 6px;
  box-shadow: none;
  outline: none;
  margin-top: 10px;
  margin-bottom: 19px;
}
input[type="search"]:focus {
  border: 1px solid #388bfd !important;
  outline: none !important;
  box-shadow: none;
  color: white !important;
  background-color: #21262d !important;
}
a {
  text-decoration: none;
  color: white;
}
.mobile-nav-menu {
  flex-direction: column;
  width: 100%;
}
.find-repo-section {
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #30363d;
  border-color: #21262d;
}
.find-repo-section input {
  background-color: #0d1117 !important;
  border: 1px solid #21262d !important;
  padding: 5px 12px !important;
  color: #f0f6fc !important;
  font-size: 14px !important;
}
#active-item {
  font-weight: 600;
  color: #c9d1d9;
  border-bottom-color: #f9826c;
  outline: 1px dotted transparent;
  outline-offset: -1px;
}
.tab-menu-section {
  display: block;
  background-color: #12161b;
  border-bottom: 1px solid #655d53;
  padding-left: 16px;
  padding-right: 16px;
  white-space: nowrap;
  overflow-x: auto;
  justify-content: space-between;
  overflow-y: hidden;
}
.tab-items {
  display: flex;
}
#repo-title {
  color: #58a6ff;
}

.count {
  margin-left: 4px;
  color: #8b949e;
  background-color: rgba(139, 148, 158, 0.2);
  display: inline-block;
  min-width: 20px;
  padding: 0 6px;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  border-radius: 2em;
  border: 1px solid transparent;
  line-height: 18px;
}
.tab-items a {
  color: #a59d91;
  border-bottom: 2px solid transparent;
  border-bottom-color: transparent;
  padding: 8px 16px;
  font-size: 14px;
  text-decoration: none;
  text-align: center;
}

.image-div {
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  bottom: 25px;
}
.name-div {
  padding-top: 16px;
  font-size: 26px;
  line-height: 1;
  padding-bottom: 16px;
}
#username {
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 2px;
  color: #8b949e;
}

.user-bio div {
  display: inline-block;
  padding-right: 16px;
  padding-left: 16px;
  padding-bottom: 26px;
  font-size: 16px;
}
.image-icon {
  border-radius: 50%;
}

.user-repo-items {
  padding-top: 24px;
  display: flex;
  width: 100%;
  padding-bottom: 24px;
  border-color: #21262d;
  border-bottom: 1px solid #30363d;
}
#main {
  padding-right: 16px;
  padding-left: 16px;
  margin-bottom: 24px;
  width: 100%;
}
.profile_detail div {
  display: inline-block;
}
.user-repo-info-div {
  display: inline-block;
  width: 80%;
}
.user-star-div {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#repo-title {
  word-break: break-all;
}

#repo-lan-color {
  background-color: green;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

#repo-lan {
  font-size: 12px;
}
#repo-update {
  white-space: nowrap;
}
.repo-detail {
  font-size: 12px;
  margin-top: 8px;
  color: #8b949e;
}
.repo-detail span {
  margin-right: 16px;
}
.repo-title {
  display: inline-block;
  margin-bottom: 4px;
}
.repo-description p {
  padding-bottom: 24px;
  margin-bottom: 4px;
  width: 75%;
  color: #8b949e;
}
.right-div {
  text-align: right;
}
.star-button-div {
  /* display: inline-block; */
  float: right;
}
.repo-star-button {
  color: #c9d1d9;
  background-color: #21262d;
  box-shadow: 0 0 transparent;
  line-height: 20px;
  border: 1px solid #30363d;
  border-radius: 6px;
  padding: 3px 12px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-weight: 500;
  font-size: 12px;
}

@media screen and (min-width: 780px) {
  #mobile-screen {
    display: none;
  }

  #desktop-view {
    /* display: block; */
    display: none;
  }
  #desktop-navbar {
    background-color: #161b22;
    width: 100%;
    padding: 0.6rem 1rem;
    height: 54px;
  }

  .desktop-nav-wrapper,
  .desktop-nav-action {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
  }
  .desktop-githubIcon {
    font-weight: 600;
    font-size: 32px;
  }
  #desktop-navbar,
  .desktop-user-icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .desktop-nav-wrapper a,
  .desktop-user-icon,
  .desktop-nav-item {
    text-decoration: none;
    color: #fff;
  }

  .desktop-nav-item {
    font-size: 13px;
  }

  .desktop-nav-action .fa-caret-down {
    margin-left: 5px;
  }
  .desktop-githubIcon {
    width: 32px;
    height: 32px;
    font-weight: 600;
    vertical-align: middle;
  }
  .nav-input-search {
    width: 100%;
    min-height: 28px;
    outline: none;
  }

  #desktop-search-input::placeholder {
    color: #ffffff7e;
  }

  .desktop-nav-link {
    font-size: 13px;
  }

  .desktop-tab-section {
    display: block;
    margin-top: 24px;
    width: 100%;
    position: sticky;
    top: 0px;
    background-color: #0d1117;
    border-color: #21262d;
    border-bottom: 1px solid #30363d;
  }
  .desktop-tab-div {
    margin-right: auto;
    max-width: 88%;
    margin-left: auto;
    padding-left: 24px;
    padding-right: 24px;
  }
  .tab-flex-div {
    display: flex;
    flex-direction: row;
    margin-left: -8px;
    margin-right: -8px;
  }
  .tab-flex-section-one {
    padding-right: 8px;
    padding-left: 8px;
    width: 25%;
  }
  .tab-flex-section-two {
    padding-right: 8px;
    padding-left: 8px;
    width: 75px;
  }
  .user-profile-div {
    position: fixed;
    top: 0;
    width: 240px;
    word-break: break-all;
    z-index: 5;
  }
  .user-profile-card {
    position: relative;
    top: 1px;
    z-index: 8;
    height: 54px;
    opacity: 0;
    display: table;
  }
  .user-table-cell-one {
    display: table-cell;
    line-height: 1px;
    padding-right: 8px;
    vertical-align: middle;
  }
  .user-table-cell-two {
    display: table-cell;
    vertical-align: middle;
    line-height: 1.2px;
  }
  .tab-nav-div {
    display: flex;
    width: 100%;

    justify-content: space-between;
  }
  .tab-nav-div nav {
    display: flex;
  }
  .desktop-nav-tab {
    padding: 8px 16px;
    border-bottom: 2px solid transparent;
    font-size: 14px;
    line-height: 30px;
    color: #8b949e;
    white-space: nowrap;
    text-align: center;
  }

  .desktop-body-section {
    padding-right: 24px;
    padding-right: 24px;
    max-width: 88%;
    z-index: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .desktop-body-div {
    display: flex;
    flex-direction: row;
    margin-right: -8px;
    margin-left: -8px;
  }

  .desktop-profile-detail-div {
    padding-right: 8px;
    padding-left: 8px;
    width: 25%;
  }
  .desktop-repo-div {
    padding-left: 8px;
    padding-right: 8px;
    width: 75%;
  }
  .desktop-user-detail-card {
    margin-top: -32px;
  }
  .img {
    position: relative;
  }
  .image-name-div {
    display: block;
    align-items: center;
    margin-top: -32px;
  }
  .img-container {
    z-index: 2;
    display: inline-block;
    position: relative;
  }
  .dp-img {
    border-radius: 50%;
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
    background-color: #0d1117;
    width: 100%;
    border: 1px solid #30363d;
  }
  .user-name-div {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .user-name-div .h4 {
    font-weight: 600;
    font-size: 32px;
  }

  .user-fullname-span {
    font-size: 26px;
    display: block;
  }
  .user-name-span {
    font-weight: 300px;
    word-wrap: break-word;
    font-size: 20px;
    font-style: normal;
    color: #8b949e;
    display: block;
  }

  .desktop-user-bio-div {
    font-size: 16px;
    margin-bottom: 16px;
    flex-direction: column;
  }
  .desktop-user-bio-div div {
    word-wrap: break-word;
  }
  /* .image-name-div ::before {
    display: table;
    content: "";
  }
  .user-name-div ::after {
    display: table;
    clear: both;
    content: "";
  } */
  .repo-search-div {
    padding-top: 16px;
    padding-bottom: 16px;
    border-color: #21262d;
    border-bottom: 1px solid #30363d;
  }

  .flex-div .div {
    margin-right: 16px;
  }
  .input-form {
    padding: 5px 12px;
    font-size: 14px;
    width: 100%;
    color: #c9d1d9;
    vertical-align: middle;
    outline: none;
    border-radius: 6px;
    background-color: #0d1117 !important;
    border: 1px solid #21262d !important;
  }
}

/* Responsive  */

/* For mobile large */
