* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
html {
  display: block;
  width: fit-content;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji;
  margin: 0;
  font-size: 14px;
  word-wrap: break-word;
  box-sizing: border-box;
  color: white;
  background-color: black;
  position: absolute;
  max-width: 100%;
}

.header {
  width: 100%;
  background-color: #24292f;
}
.githubIcon {
  font-size: 24px;
  color: #fff;
}
/* hide desktop menu on mobile device */
#desktop-navbar {
  display: none;
}

.hidden {
  display: none;
}

#mobile-navbar {
  background-color: #161b22;
  color: white;
  padding-left: 16px;
  padding-right: 16px;
}
.mobile-nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 8px;
  padding-bottom: 8px;
}
#mobile-navbar-search-btn {
  position: absolute;
  right: 20px;
  margin-top: 13px;
}
.profile_avatar {
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
}
li {
  list-style: none;
}
.responsive-nav-item {
  display: block;
  border-top: 1px solid #30363d;
  padding-top: 8px;
  padding-bottom: 8px;
  font-weight: 600;
  color: white;
  white-space: nowrap;
}
.sign-out {
  margin-bottom: 20px;
}
input[type="search"] {
  background-color: black;
  border-style: none;
  padding: 6px;
  border-radius: 6px;
  box-shadow: none;
  outline: none;
  margin-top: 10px;
  margin-bottom: 19px;
}
input[type="search"]:focus {
  border: 1px solid #388bfd !important;
  outline: none !important;
  box-shadow: none;
  color: white !important;
  background-color: #21262d !important;
}
a {
  text-decoration: none;
  color: white;
}
.mobile-nav-menu {
  flex-direction: column;
  width: 100%;
}
.find-repo-section {
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #30363d;
  border-color: #21262d;
}
.find-repo-section input {
  background-color: #0d1117 !important;
  border: 1px solid #21262d !important;
  padding: 5px 12px !important;
  color: #f0f6fc !important;
  font-size: 14px !important;
}
.tab-items .active-item {
  font-weight: 600;
  color: #c9d1d9;
  border-bottom-color: #f9826c;
  outline: 1px dotted transparent;
  outline-offset: -1px;
}
.tab-menu-section {
  display: block;
  background-color: #12161b;
  border-bottom: 1px solid #655d53;
  padding-left: 16px;
  padding-right: 16px;
  white-space: nowrap;
  overflow-x: auto;
  justify-content: space-between;
  overflow-y: hidden;
}
.tab-items {
  display: flex;
}

.count {
  margin-left: 4px;
  color: #8b949e;
  background-color: rgba(139, 148, 158, 0.2);
  display: inline-block;
  min-width: 20px;
  padding: 0 6px;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  border-radius: 2em;
  border: 1px solid transparent;
  line-height: 18px;
}
.tab-items a {
  color: #a59d91;
  border-bottom: 2px solid transparent;
  border-bottom-color: transparent;
  padding: 8px 16px;
  font-size: 14px;
  text-decoration: none;
  text-align: center;
}
.input-search {
  border: 1px solid #808080af;
  border-radius: 3px;
  padding: 3px 2px;
  font-size: 12px;
}
.image-div {
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  bottom: 25px;
}
.name-div {
  padding-top: 16px;
  font-size: 26px;
  line-height: 1;
  padding-bottom: 16px;
}
.username {
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 2px;
  color: #8b949e;
}

.user-bio div {
  display: inline-block;
  padding-right: 16px;
  padding-left: 16px;
  padding-bottom: 26px;
  font-size: 16px;
}
.image-icon {
  border-radius: 50%;
}

.user-repo-items {
  padding-top: 24px;
  display: flex;
  width: 100%;
  padding-bottom: 24px;
  border-color: #21262d;
  border-bottom: 1px solid #30363d;
}
#main {
  padding-right: 16px;
  padding-left: 16px;
  margin-bottom: 24px;
  width: 100%;
}
.profile_detail div {
  display: inline-block;
}
.user-repo-info-div {
  display: inline-block;
  width: 80%;
}
.user-star-div {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#repo-title {
  word-break: break-all;
}

#repo-lan-color {
  background-color: green;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}
.fa-circle {
  color: #f9826c;
}

#repo-lan {
  font-size: 12px;
}
#repo-update {
  white-space: nowrap;
}
.repo-detail {
  font-size: 12px;
  margin-top: 8px;
  color: #8b949e;
}
.repo-detail span {
  margin-right: 16px;
}
.repo-title {
  display: inline-block;
  margin-bottom: 4px;
}
.repo-description p {
  padding-bottom: 24px;
  margin-bottom: 8px;
  width: 75%;
  color: #8b949e;
}
.right-div {
  text-align: right;
}
.star-button-div {
  display: inline-block;
}
.repo-star-button {
  color: #c9d1d9;
  background-color: #21262d;
  box-shadow: 0 0 transparent;
  line-height: 20px;
  border: 1px solid #30363d;
  border-radius: 6px;
  padding: 3px 12px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-weight: 500;
  font-size: 12px;
}
@media screen and (min-width: 615px) {
  #mobile-navbar {
    display: none;
  }
  #mobile-screen {
    display: none;
  }
  #desktop-navbar {
    background-color: #24292f;
    width: 100%;
    padding: 0.6rem 1rem;
    height: 54px;
  }

  .desktop-nav-wrapper,
  .desktop-nav-action {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
  }

  #desktop-navbar,
  .desktop-user-icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .desktop-nav-wrapper a,
  .desktop-user-icon,
  .desktop-nav-item {
    text-decoration: none;
    color: #fff;
  }

  .desktop-nav-item {
    font-size: 13px;
  }

  .desktop-nav-action .fa-caret-down {
    margin-left: 5px;
  }

  #desktop-search-input {
    background: none;
    border: none;
    outline: none;
    color: #fff;
    font-size: 12px;
  }

  #desktop-search-input::placeholder {
    color: #ffffff7e;
  }

  .desktop-nav-link {
    font-size: 13px;
  }
  .desktop-navbar-search-btn {
    border: 1px solid #808080af;
    padding: 1px 5px;
    border-radius: 3px;
    color: grey;
  }
}

/* Responsive  */

/* For mobile large */

@media only screen and (max-width: 600px) {
}
